@import "tailwindcss";

/* 你的自定义样式依然写在下面 */
@theme {
  --color-beer-bg: #1F1F1F;
  --color-beer-amber: #FFBF00;
}

body {
  background-color: var(--color-beer-bg);
  color: var(--color-beer-amber);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}